.container{
    margin:1rem 0rem  0rem 0rem;
    position: relative;
}
.item{
    display: inline-block;
    border-radius: 0.5rem; 
    width: 100%;
}
.item .img{
    height: 16vmax;
    border-radius: 0.5rem; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transform: scale(.99);
}
@media only screen and (max-width: 700px) {
    .item .img{
        max-height: 16vmax;
    }
  }
  @media only screen and (max-width: 500px) {
    .item .img{
        max-height: 15vmax;
    }
  }
.list{
    transition: all ease 0.5s;
}

.leftIcon, .rightIcon{
    position: absolute;
    width: 40px;
    height: 22rem;
    background-color: rgb(80,80,80, .4);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.3s;
    padding: 2rem;
    color: white;
}
